ul.actions.header__content-elem
  li.actions__elem
    a.actions__link(href="/")
      .action__img.action__img_person
      span.action__caption Войти
  li.actions__elem
    a.actions__link(href="/")
      .action__img.action__img_pack
      span.action__caption Отследить доставку   
  li.actions__elem
    a.actions__link(href="/")
      .action__img.action__img_bag
        .action__count
          span.action__count-value 2
      span.action__caption Корзина