.productcard
  .productcard__img-wrap
    img.productcard__img(src=`${data.cdn}/img/card.png`)
  .productcard__title Star War Adventure
  .productcard__desq космос, кошка
  .productcard__price 
    span.productcard__value 1190
    span.productcard__curr
      svg
        use(xlink:href='assets/img/sprite/sprite.svg#ruble')
