@import 'common/mixin';
@import 'common/fonts';
@import 'common/sprite';

body {
  position: relative;
  background-color: #ecf0f1;
}

.wrapper {
  min-height: 100vh;
  //min-width: 320px;
  width: 100%;
  min-width: 1300px;
  background-color:green;
  position: relative;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
   //min-height: 100vh;
}




@import 'blocks/content';
