@font-face {
  font-family: 'CirceRounded';
  src: url('../fonts/CirceRounded-Regular.woff2') format('woff2'),
	url('../fonts/CirceRounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'CirceRoundedBold';
  src: url('../fonts/CirceRounded-Bold.woff2') format('woff2'),
	url('../fonts/CirceRounded-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

@font-face {
  font-family: 'CirceRoundedLight';
  src: url('../fonts/CirceRounded-Light.woff2') format('woff2'),
	url('../fonts/CirceRounded-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491;
}

// @font-face {
// 	font-family: 'Luga';
// 	src: url('https://ad.csdnevnik.ru/special/staging/foxford/assets/fonts/subset-Luga.woff2') format('woff2'),
// 		url('https://ad.csdnevnik.ru/special/staging/foxford/assets/fonts/subset-Luga.woff') format('woff'),
// 		url('https://ad.csdnevnik.ru/special/staging/foxford/assets/fonts/subset-Luga.ttf') format('truetype'),
// 		url('https://ad.csdnevnik.ru/special/staging/foxford/assets/fonts/subset-Luga.svg#Luga') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Luga';
// 	src: url('../fonts/subset-Luga-Oblique.woff2') format('woff2'),
// 		url('../fonts/subset-Luga-Oblique.woff') format('woff'),
// 		url('../fonts/subset-Luga-Oblique.ttf') format('truetype'),
// 		url('../fonts/subset-Luga-Oblique.svg#Luga-Oblique') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
