// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-aright-name: 's-aright';
$s-aright-x: 46px;
$s-aright-y: 118px;
$s-aright-offset-x: -46px;
$s-aright-offset-y: -118px;
$s-aright-width: 23px;
$s-aright-height: 16px;
$s-aright-total-width: 216px;
$s-aright-total-height: 168px;
$s-aright-image: '../img/sprite/sprite.png';
$s-aright: (46px, 118px, -46px, -118px, 23px, 16px, 216px, 168px, '../img/sprite/sprite.png', 's-aright', );
$s-arrowd-name: 's-arrowd';
$s-arrowd-x: 105px;
$s-arrowd-y: 118px;
$s-arrowd-offset-x: -105px;
$s-arrowd-offset-y: -118px;
$s-arrowd-width: 19px;
$s-arrowd-height: 10px;
$s-arrowd-total-width: 216px;
$s-arrowd-total-height: 168px;
$s-arrowd-image: '../img/sprite/sprite.png';
$s-arrowd: (105px, 118px, -105px, -118px, 19px, 10px, 216px, 168px, '../img/sprite/sprite.png', 's-arrowd', );
$s-arrowr-name: 's-arrowr';
$s-arrowr-x: 206px;
$s-arrowr-y: 0px;
$s-arrowr-offset-x: -206px;
$s-arrowr-offset-y: 0px;
$s-arrowr-width: 10px;
$s-arrowr-height: 19px;
$s-arrowr-total-width: 216px;
$s-arrowr-total-height: 168px;
$s-arrowr-image: '../img/sprite/sprite.png';
$s-arrowr: (206px, 0px, -206px, 0px, 10px, 19px, 216px, 168px, '../img/sprite/sprite.png', 's-arrowr', );
$s-bag-name: 's-bag';
$s-bag-x: 159px;
$s-bag-y: 54px;
$s-bag-offset-x: -159px;
$s-bag-offset-y: -54px;
$s-bag-width: 34px;
$s-bag-height: 34px;
$s-bag-total-width: 216px;
$s-bag-total-height: 168px;
$s-bag-image: '../img/sprite/sprite.png';
$s-bag: (159px, 54px, -159px, -54px, 34px, 34px, 216px, 168px, '../img/sprite/sprite.png', 's-bag', );
$s-fb-name: 's-fb';
$s-fb-x: 0px;
$s-fb-y: 72px;
$s-fb-offset-x: 0px;
$s-fb-offset-y: -72px;
$s-fb-width: 36px;
$s-fb-height: 62px;
$s-fb-total-width: 216px;
$s-fb-total-height: 168px;
$s-fb-image: '../img/sprite/sprite.png';
$s-fb: (0px, 72px, 0px, -72px, 36px, 62px, 216px, 168px, '../img/sprite/sprite.png', 's-fb', );
$s-heart-name: 's-heart';
$s-heart-x: 65px;
$s-heart-y: 144px;
$s-heart-offset-x: -65px;
$s-heart-offset-y: -144px;
$s-heart-width: 22px;
$s-heart-height: 18px;
$s-heart-total-width: 216px;
$s-heart-total-height: 168px;
$s-heart-image: '../img/sprite/sprite.png';
$s-heart: (65px, 144px, -65px, -144px, 22px, 18px, 216px, 168px, '../img/sprite/sprite.png', 's-heart', );
$s-insta-name: 's-insta';
$s-insta-x: 0px;
$s-insta-y: 0px;
$s-insta-offset-x: 0px;
$s-insta-offset-y: 0px;
$s-insta-width: 62px;
$s-insta-height: 62px;
$s-insta-total-width: 216px;
$s-insta-total-height: 168px;
$s-insta-image: '../img/sprite/sprite.png';
$s-insta: (0px, 0px, 0px, 0px, 62px, 62px, 216px, 168px, '../img/sprite/sprite.png', 's-insta', );
$s-package-name: 's-package';
$s-package-x: 46px;
$s-package-y: 72px;
$s-package-offset-x: -46px;
$s-package-offset-y: -72px;
$s-package-width: 52px;
$s-package-height: 36px;
$s-package-total-width: 216px;
$s-package-total-height: 168px;
$s-package-image: '../img/sprite/sprite.png';
$s-package: (46px, 72px, -46px, -72px, 52px, 36px, 216px, 168px, '../img/sprite/sprite.png', 's-package', );
$s-percent-name: 's-percent';
$s-percent-x: 34px;
$s-percent-y: 144px;
$s-percent-offset-x: -34px;
$s-percent-offset-y: -144px;
$s-percent-width: 21px;
$s-percent-height: 21px;
$s-percent-total-width: 216px;
$s-percent-total-height: 168px;
$s-percent-image: '../img/sprite/sprite.png';
$s-percent: (34px, 144px, -34px, -144px, 21px, 21px, 216px, 168px, '../img/sprite/sprite.png', 's-percent', );
$s-search-name: 's-search';
$s-search-x: 0px;
$s-search-y: 144px;
$s-search-offset-x: 0px;
$s-search-offset-y: -144px;
$s-search-width: 24px;
$s-search-height: 24px;
$s-search-total-width: 216px;
$s-search-total-height: 168px;
$s-search-image: '../img/sprite/sprite.png';
$s-search: (0px, 144px, 0px, -144px, 24px, 24px, 216px, 168px, '../img/sprite/sprite.png', 's-search', );
$s-shirt-name: 's-shirt';
$s-shirt-x: 159px;
$s-shirt-y: 0px;
$s-shirt-offset-x: -159px;
$s-shirt-offset-y: 0px;
$s-shirt-width: 37px;
$s-shirt-height: 44px;
$s-shirt-total-width: 216px;
$s-shirt-total-height: 168px;
$s-shirt-image: '../img/sprite/sprite.png';
$s-shirt: (159px, 0px, -159px, 0px, 37px, 44px, 216px, 168px, '../img/sprite/sprite.png', 's-shirt', );
$s-sign-name: 's-sign';
$s-sign-x: 159px;
$s-sign-y: 98px;
$s-sign-offset-x: -159px;
$s-sign-offset-y: -98px;
$s-sign-width: 32px;
$s-sign-height: 31px;
$s-sign-total-width: 216px;
$s-sign-total-height: 168px;
$s-sign-image: '../img/sprite/sprite.png';
$s-sign: (159px, 98px, -159px, -98px, 32px, 31px, 216px, 168px, '../img/sprite/sprite.png', 's-sign', );
$s-star-name: 's-star';
$s-star-x: 79px;
$s-star-y: 118px;
$s-star-offset-x: -79px;
$s-star-offset-y: -118px;
$s-star-width: 16px;
$s-star-height: 15px;
$s-star-total-width: 216px;
$s-star-total-height: 168px;
$s-star-image: '../img/sprite/sprite.png';
$s-star: (79px, 118px, -79px, -118px, 16px, 15px, 216px, 168px, '../img/sprite/sprite.png', 's-star', );
$s-user-name: 's-user';
$s-user-x: 108px;
$s-user-y: 72px;
$s-user-offset-x: -108px;
$s-user-offset-y: -72px;
$s-user-width: 28px;
$s-user-height: 34px;
$s-user-total-width: 216px;
$s-user-total-height: 168px;
$s-user-image: '../img/sprite/sprite.png';
$s-user: (108px, 72px, -108px, -72px, 28px, 34px, 216px, 168px, '../img/sprite/sprite.png', 's-user', );
$s-vk-name: 's-vk';
$s-vk-x: 72px;
$s-vk-y: 0px;
$s-vk-offset-x: -72px;
$s-vk-offset-y: 0px;
$s-vk-width: 77px;
$s-vk-height: 47px;
$s-vk-total-width: 216px;
$s-vk-total-height: 168px;
$s-vk-image: '../img/sprite/sprite.png';
$s-vk: (72px, 0px, -72px, 0px, 77px, 47px, 216px, 168px, '../img/sprite/sprite.png', 's-vk', );
$spritesheet-width: 216px;
$spritesheet-height: 168px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($s-aright, $s-arrowd, $s-arrowr, $s-bag, $s-fb, $s-heart, $s-insta, $s-package, $s-percent, $s-search, $s-shirt, $s-sign, $s-star, $s-user, $s-vk, );
$spritesheet: (216px, 168px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
